<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${users}" class="container my-5">
                <p class="my-5">
                    <a href="/create" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2"> Add User </i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table id="example" class="table table-striped table-inverse table-bordered table-hover"
                               cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th class="th-sm">First Name</th>
                                <th class="th-sm">Last Name</th>
                                <th class="th-sm">BirthDate</th>
                                <th class="th-sm">Email</th>
                                <th class="th-sm">Address</th>
                                <th class="th-sm">Edit</th>
                                <th class="th-sm">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.birthDate}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.address}"></td>
                                <td>
                                    <a th:href="@{/edit/{id}(id=${user.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <form th:action="@{/delete-user/{id}(id=${user.id})}" th:method="delete">
                                        <button type="submit" value="Submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "bPaginate": false,
            "columnDefs": [
                {"targets": [5, 6], "orderable": false}
            ],
            'initComplete': function () {
                var api = this.api();

                // Initialize Typeahead plug-in
                $('.dataTables_filter input[type="search"]', api.table().container())
                    .typeahead({
                            source: function (query, process) {
                                $.getJSON('/rest/user-names', {q: query}, function (data) {
                                    return process(data);
                                });
                            },
                            afterSelect: function (value) {
                                api.search(value).draw();
                            }
                        }
                    );
            }
        });
    });
</script>
</body>

</html>